* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.founders {
  background-color: #f4f7fc;
  padding-bottom: 100px;
}

.founders__title {
  color: #000f30;
  font-size: 46px;
  font-weight: 800;
  margin: 35px 0;
}

.founders__item {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 79px 0px rgba(16, 66, 97, 0.1);
          box-shadow: 0px 10px 79px 0px rgba(16, 66, 97, 0.1);
}

.founders__img {
  height: 250px;
}

.founders__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.founders__item-title {
  color: #000f30;
  font-size: 26px;
  font-weight: 700;
  margin-top: 25px;
}

.founders__item-subtitle {
  font-size: 20px;
  font-weight: 600;
}

.founders__item-desc {
  font-weight: 500px;
}

.summary {
  margin-top: 60px;
  padding-bottom: 50px;
}

.summary .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary__svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__title {
  font-weight: bold;
  font-size: 70px;
  line-height: 82px;
  color: #000000;
  margin: 30px 0 40px;
  position: relative;
}

.summary__title::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 1170px;
  background: #FE6E18;
  right: 50%;
  bottom: -15px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.summary__title::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 1170px;
  background: #FE6E18;
  right: 50%;
  bottom: -218px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.summary__post {
  display: block;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
}

.summary__designer {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

.skills {
  background-color: #f4f7ff;
  margin-top: 75px;
}

.skills__title {
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 600;
}

.skills__item {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: .6s;
  transition: .6s;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 5px 2px black;
          box-shadow: 0px 0px 5px 2px black;
}

.skills__item_img {
  margin: 10px 0;
}

.skills__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.skills__menu_list {
  display: inline-block;
  margin: 5px 0;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 20px;
}

.skills__menu_list:hover {
  text-decoration: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  border-radius: 20px;
  margin: 50px 0;
  text-align: center;
  max-width: 750px;
}

.contact__top-title {
  margin: 30px 0;
  font-size: 42px;
  font-weight: 600;
}

.contact__top-desc {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 500;
}

.contact__input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 35px;
}

.contact__btn {
  color: #ffffff;
  border: 2px solid #4e5fe0;
  background-color: #4e5fe0;
  font-size: 16px;
  padding: 0 60px;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact__btn:hover {
  background-color: #ffffff;
  color: #71a0a5;
}

.footer {
  height: 150px;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-email {
  max-width: 250px;
}

.footer__contact-email a {
  margin-left: 10px;
  color: black;
}

.footer__logo {
  text-align: center;
}

.footer__phone {
  min-width: 200px;
}

.footer__phone a {
  color: black;
}
/*# sourceMappingURL=style.css.map */